{% extends "base.html.twig" %}

{% block content %}
    <h2>
        LIST OF TASKS
        <a href="/tasks/new" class="btn btn-success pull-right" role="button">CREATE NEW TASK</a>
    </h2>

    {% for task in tasks %}
        {% if task.priority == 'low' %}
            <div class="panel panel-success">
        {% elseif task.priority == 'medium' %}
            <div class="panel panel-info">
        {% elseif task.priority == 'high' %}
            <div class="panel panel-danger">
        {% endif %}
            <div class="panel-heading">
                <a href="/tasks/{{ task.id }}"> {{ task.name }}</a>
            </div>
            <div class="panel-body">
                {{ task.description }}
            </div>
        </div>
    {% endfor %}
{% endblock %}